@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Gamja+Flower&display=swap');


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.planet {
  background: -webkit-linear-gradient(top, rgb(4, 79, 96) 20%, rgb(5, 38, 54)60%, rgb(4, 15, 15));
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.constelacao {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  animation: rotate 600s infinite linear
}

.estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
.estrela.style2 { animation-duration: 1s; animation-name: estrela; }
.estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
.estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

.estrela.tam1 { width: 1px; height: 1px; }
.estrela.tam2 { width: 2px; height: 2px; }
.estrela.tam3 { width: 3px; height: 3px; }

.estrela.opacity1 { opacity:  1; }
.estrela.opacity2 { opacity: .5; }
.estrela.opacity3 { opacity: .1; }

@keyframes estrela {
  0% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 15px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 15px 2px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}


.imgCon {
  width: 100%;
  text-align:center; 
  margin:0px auto;
}

.imgCon img {
  height:auto;
  width: 290px;
  height: 290px;
  filter: drop-shadow(3px 3px 20px white);
}

.rocket {
  width: 55px;
  height: 50px;
}

.head {
  float: center;
  color: white;
  font-family: 'Luxurious Roman', cursive;
  font-size: 35px;
  margin: 30px 200px 30px 200px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 7%;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}

.welcome{
  font-family: 'Gamja Flower', cursive;
  opacity: 0.9;
  margin-top: 25px;
  font-weight: 700;
}

.moveCon {
  font-family: 'Gamja Flower', cursive;
  width:300px;
  margin:auto;
}

.move {
  text-decoration: none;
  color: white; 
  cursor: pointer;
  text-shadow : 3px 4px 20px white;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  opacity: 0.6;
  width:100%;
  margin:auto;
  display:block;
}

.move:hover {
  color: white;
  text-shadow : 10px 4px 30px white;
  text-decoration-line: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1); 
  opacity: 0.9; 
}


.des{
  font-family: 'Gaegu', cursive;
  text-align: center;
  font-size: 27px;
  opacity: 0.8;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  
.bar{
  width: 100%;
  height: 10%;
  z-index: 2;
  position: absolute;
  top: -10%;
}
.barContent{
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}

.barBtn{
  background-color: black;
  opacity: 0.6;
  color:#FFFFFF;
  border: 0;
  border-radius: 100px;
}

.bar:hover {
  top: 0%;
  transition: all 0.3s;
}

.barRight{
  width: 100%;
}

.mainWalletConnect{
  float: right;
  
  background: #ffae42;
  border : 0;
  border-radius: 5px;
  width:13%;
  height: 29px;
  margin-top: 13px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainWalletConnect:hover {
  background: #ffae42;
  box-shadow: 0 0 15px #ffae42;
  border : 0;
}

.mainWalletConnect:focus{
  background: #ffae42;
  border-color: 2px #ffae42;
}

.barTitle{
  font-family: 'Gamja Flower', cursive;
  color: #FFFFFF;
  font-size: 50px;
  margin-left: 30px;
  opacity: 0.9;
  float: left;
}
.barGuide{
  float: right;
  width: 8%;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 28px;
  cursor: pointer;
}
.barGuide a{
  text-decoration: none;
  color: #FFFFFF;
}

.barTw{
  margin-top: 28px;
  margin-right: 80px;
  float: right;
  width: 10%;
  width: 30px;
  height: 30px;
}

.barTw img{
  width: 100%;
  height: 100%;
}

.barTele{
  margin-top: 28px;
  margin-right: 20px;
  float: right;
  width: 10%;
  width: 30px;
  height: 30px;
}

.barTele img{
  width: 100%;
  height: 100%;
}

.mainKlipConnect{
  float: right;
  background-color: #216FEA;
  border : 0;
  border-radius: 5px;
  width: 15%;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-top: 13px;
}