@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');



html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.planet {
  background: -webkit-linear-gradient(top, rgb(16, 33, 80) 20%, rgb(18, 18, 44)50%, rgb(19, 29, 46)90%);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y : scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.planet::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.constelacao {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  animation: rotate 600s infinite linear
}

.estrela {
  pointer-events: none;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
.estrela.style2 { animation-duration: 1s; animation-name: estrela; }
.estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
.estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

.estrela.tam1 { width: 1px; height: 1px; }
.estrela.tam2 { width: 2px; height: 2px; }
.estrela.tam3 { width: 3px; height: 3px; }

.estrela.opacity1 { opacity:  1; }
.estrela.opacity2 { opacity: .5; }
.estrela.opacity3 { opacity: .1; }

@keyframes estrela {
  0% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 15px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 15px 2px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}


.imgCon {
  width: 100%;
  text-align:center; 
  margin:0px auto;
}

.imgCon {
  width: 100%;
  text-align:center; 
  margin:0px auto;
}


#princeImg{
  width: 350px;
  height: 350px;
  margin-bottom: 2vh;
  filter: drop-shadow(0px 0px 5px white);
}


.head {
  float: center;
  color: white;
  font-family: 'Poor Story', cursive;
  font-size: 35px;
  margin: 30px 200px 30px 200px;
  padding-right: 70px;
  padding-left: 70px;
  margin-top: 7%;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}

.welcome{
  font-family: 'Poor Story', cursive;
  opacity: 0.9;
  margin-top: 25px;
  font-weight: 700;
}

.moveCon {
  position: relative;
  font-family: 'Poor Story', cursive;
  width:300px;
  height: 50px;
  margin:auto;
  cursor: pointer;
  text-align: center;
  background-color: #ffae42;
  border-radius: 50px;
  z-index: 10;
  vertical-align: middle;
}

.move {
  
  text-decoration: none;
  color: white; 
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width:100%;
  margin:auto;
  display:block;
  padding-top: 0.3vh;
  font-size: 28px;
}

.move:hover {
  color: white;
  text-decoration-line: none;
}

.moveCon:hover {
  background-color: #ffae42;
  box-shadow : 0px 0px 7px #ffae42;
  text-decoration-line: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1); 
}

.des{
  font-family: 'Poor Story', cursive;
  text-align: center;
  font-size: 27px;
  opacity: 0.8;
  margin-top: 10px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.barTitle{
  width: 25vw;
  height: 100%;
  top: 0%;
}

.barTitle img{
  height: 83%;
}
  
.bar{
  width: 100%;
  height: calc(10vh / 2.5 + 4vh + 20px) ;
  z-index: 2;
  position: absolute;
  top: calc(-10vh / 2.5 - 4vh - 20px);
}
.barContent{
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}

.barBtn{
  background-color: black;
  opacity: 0.6;
  color:#FFFFFF;
  border: 0;
  border-radius: 100px;
}

.bar:hover {
  top: 0%;
  transition: all 0.3s;
}

.barRight{
  width: 100%;
}

.mainWalletConnect{
  float: right;
  color: white;
  background: #73695D;
  border : 0;
  border-radius: 5px;
  width: 15%;
  height: 4vh;
  margin-top: calc(5vh / 2.5);
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainWalletConnect:hover {
  background: #73695D;
  box-shadow: 0 0 15px #73695D;
  border : 0;
}

.mainWalletConnect:focus{
  background: #73695D;
  border-color: 2px #73695D;
}

.barTitle{
  margin-top: calc(2vh / 2.5);
  margin-left: 30px;
  opacity: 0.9;
  float: left;
}
.barGuide{
  font-family: 'Poor Story', cursive;
  float: right;
  width: 8%;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}
.barGuide a{
  text-decoration: none;
  color: #FFFFFF;
}

.barTw{
  font-family: 'Poor Story', cursive;
  font-size: 20px;
  margin-top: 3.5vh;
  margin-right: 20px;
  float: right;
  color: white
}

.barTw a{
  text-decoration: none;
  color: #FFFFFF;
}

.barTele{
  font-size: 20px;
  font-family: 'Poor Story', cursive;
  margin-top: 3.5vh;
  margin-right: 20px;
  float: right;
  color: white
}

.barTele a{
  text-decoration: none;
  color: #FFFFFF;
}

.mainKlipConnect{
  float: right;
  background-color: #216FEA;
  border : 0;
  border-radius: 5px;
  width: 15%;
  height: 4vh;
  color: #FFFFFF;
  padding: 10px;
  margin-right: 20px;
  margin-top: calc(5vh / 2.5);
}
.mainKlipConnect:hover {
  background: #216FEA;
  box-shadow: 0 0 15px #216FEA;
  border : 0;
}

.language{
  z-index: 10;
  left: 2vw;
  font-size: 20px;
  font-family: 'Poor Story', cursive;
  position: fixed;
  bottom: 3vh;
  color: white;
  width: 7vw;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.language:hover > .eng{
  display: block;
}
.kor{
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  opacity: 0.5;
}
.kor:hover{
  opacity: 1;
}

.eng a{
  font-size: 20px;
}
.eng{
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  opacity: 0.5;
  display: none;
  margin-bottom: 20px;
}

.eng:hover{
  opacity: 1;
}

.language_eng{
  z-index: 10;
  left: 2vw;
  font-size: 20px;
  font-family: 'Poor Story', cursive;
  position: fixed;
  bottom: 3vh;
  color: white;
  width: 7vw;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.language_eng:hover > .kor_eng{
  display: block;
}
.eng_eng{
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  opacity: 0.5;
}
.eng_eng:hover{
  opacity: 1;
}
.kor_eng a{
  font-size: 20px;
}

.kor_eng{
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
  opacity: 0.5;
  display: none;
  margin-bottom: 20px;
}

.kor_eng:hover{
  opacity: 1;
}

