.string1{
    filter: drop-shadow(0px 0px 1px white);
    position: absolute;
    width: calc(50vw - 255px);
    left: 0px;
    top: calc(50vh - 350px);
}


.string2{
    filter: drop-shadow(0px 0px 1px white);
    float: right;
    position: absolute;
    width: calc(50vw - 255px);
    right: 0px;
    top: calc(50vh - 350px);
}



.starColor1 path{
    filter: drop-shadow(0px 0px 20px white);

}

.starColor1{
    position: absolute;
    left: calc((50vw - 355px) / 2 );
    top: calc(50vh - 260px);
    fill: white; 
}



.starColor2 path{
    filter: drop-shadow(0px 0px 20px white);
}

.starColor2{
    left: calc((50vw + 255px) + (50vw - 355px)/2);
    position: relative;
    right: 200px;
    top: calc(50vh - 260px);
    fill: white;
}
