@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


.formModalBody {
    font-family: 'Gabriela', serif;
    font-family: 'Poor Story', cursive;
    width: 100%;
}

.colorHex {
    font-family: 'Luxurious Roman', cursive;
}

.modalTitle {
    float: left;
    width: 60%;
    font-family: 'Poor Story', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}

.currentColor {
    float: left;
    width: 40%;
    font-family: 'Poor Story', cursive;
    font-size: 20px;
}

.changeColor {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.printColor {
    width: 20px;
    height: 20px;
    border-radius: 200%;
    box-shadow: 0px 0px 10px #e2e2e2;
}
.printColorValue ,.isColorDup{
    font-family: 'Luxurious Roman', cursive;
}

.changeColorCon{
    display: none;
}

.inputData{
    border-radius: 5px;
    height: 35px;
    border: 2px solid #e2e2e2; 
    margin-bottom: 20px
}

.inputData:focus {
    outline: 2px solid #ffae42;
    border: 0px;
}

.inputData::placeholder {
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}



.kaikasBtn{
    width: 35%;
    float: left;
    padding-left: 35px;
    padding-right: 35px;
}
.kaikasBtn > .btn.btn-primary {
    font-family: 'Poor Story', cursive;
    background: #ffffff;
    border : 0;
    width: 90%;
    border-radius: 50px;
    color:black;
    box-shadow: 0px 0px 7px lightgray;
}

.kaikasBtn > .btn.btn-primary:hover{
    background: #73695D;
    box-shadow: 0 0 15px #73695D;
    border : 0;
    color: #ffffff;
}


.kaikasBtn >.btn.btn-primary:focus{
    background: #73695D;
    border-color: 2px #73695D;
    color: #ffffff;
}




.catInfoForm h4{
    margin-left: 20px;
}


.klipBtn{
    width: 35%;
    float: left;
    padding-left: 35px;
    padding-right: 35px;
}
.klipBtn > .btn.btn-primary{
    font-family: 'Poor Story', cursive;
    background-color: #ffffff;
    color: black;
    border : 0;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0px 0px 7px lightgray;
 
}

.klipBtn > .btn.btn-primary:hover{
    background: #216FEA;
    box-shadow: 0 0 15px #216FEA;
    border : 0;
    color: #ffffff;
}


.klipBtn > .btn.btn-primary:focus{
    background: #216FEA;
    color: #ffffff;
}
