@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');



.formModalBody {
    font-family: 'Gabriela', serif;
    font-family: 'Gamja Flower', cursive;
    width: 100%;
}

.colorHex {
    font-family: 'Luxurious Roman', cursive;
}

.modalTitle {
    float: left;
    width: 60%;
    font-family: 'Gamja Flower', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}

.currentColor {
    float: left;
    width: 40%;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}

.changeColor {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.printColor {
    width: 20px;
    height: 20px;
    border-radius: 200%;
    box-shadow: 0px 0px 10px #e2e2e2;
}
.printColorValue ,.isColorDup{
    font-family: 'Luxurious Roman', cursive;
}

.changeColorCon{
    display: none;
}

.inputData{
    border-radius: 5px;
    width: auto;
    height: 35px;
    border: 2px solid #e2e2e2; 
    margin-bottom: 20px
}

.inputData:focus {
    outline: 2px solid #ffae42;
    border: 0px;
}

.inputData::placeholder {
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}




.btn.btn-primary{
    font-family: 'Gaegu', cursive;
    background: #ffffff;
    border : 0;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ffae42;
    color: #ffae42;
}

.btn.btn-primary:hover{
    background: #ffae42;
    box-shadow: 0 0 15px #ffae42;
    border : 0;
    color: #ffffff;
}


.btn.btn-primary:focus{
    background: #ffae42;
    border-color: 2px #ffae42;
    color: #ffffff;
}




.catInfoForm h4{
    margin-left: 20px;
}


  
.btn.btn-primary.klipBtn{
    background-color: #ffffff;
    color : #216FEA;
    border : 1px solid #216FEA;
}

.btn.btn-primary.klipBtn:hover{
    background: #216FEA;
    box-shadow: 0 0 15px #216FEA;
    border : 0;
    color: #ffffff;
}


.btn.btn-primary.klipBtn:focus{
    background: #216FEA;
    border-color: 2px #216FEA;
    color: #ffffff;
}
