@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Gamja+Flower&display=swap');



.catInfo {
    font-family: 'Gabriela', serif;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
    margin-bottom: 3%;
    text-align: center;
}


#contained-modal-title-vcenter{
    width: 100%;
}

.day{
    font-family: 'Gamja Flower', cursive;
    font-size: 18px;
}
.infoTitle{
    font-family: 'Gamja Flower', cursive;
    margin-left: 20px;
    float: left;
    width: auto;
}

.infoColor{
    font-family: 'Gamja Flower', cursive;
    float: right;
    font-size: 20px;
    width: auto;
    margin-right: 4%;
    margin-top: 2%;
}

.showImg {
    width: auto;
    height: 400px;
    display: block; 
    margin: 0px auto;
    margin-bottom: 3%;
    overflow: hidden;
}

.btn-close{
    padding: 10px;
}


.dataComment {
    font-family: 'Gamja Flower', cursive;
    padding: 3%;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 10px;
    min-height: 70px;
    height: auto;
    margin: 3%;
    font-size: 24px;
    float: left;
    width: 432px;
}
